

html,body {
  
    height: 90%;
   
    background: -webkit-linear-gradient(0deg, #efb242f5 10%, #9cd6bb 70%);
    
    margin: 0;
    padding: 0;
   
}




@media (min-width: 200px) {
    body,html {
       min-width: 700px;
     }
   }
   @media (max-height: 200px) {
     body,html {
        max-height: 600px;
      }
    }

.preguntas{  /*Este es el div */
   float: right;
   
   width:8% ;
   height:90%;
    border: 1px solid black;
    background-color:rgb(80, 211, 222)    
   


}
button{ /*Botones general */
    margin-top: 5%;
border-radius: 25%;
background-color: aliceblue;
border: 1px solid rgb(76, 7, 253);
}


.preguntas,button{ /*Botones dentro div*/

    padding: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
#resolve{
    margin-top: 10px;
    border-radius: 0px;
    color: azure;
    background-color: rgb(21, 28, 19);
 
}
#responde{

    border: 1px solid black;
    width:20%;
    
}





#p1{
    background-color: rgb(241, 241, 172);
   
}

#p2{
    background-color: #b5f2d6;
}

#p3{
    background-color: rgb(234, 196, 202);
}
#p4{
    background-color: rgb(234, 202, 163);
}
#p5{
    background-color: rgb(166, 193, 171);
}

.imagenes {
    /*border:solid 1px black;*/
    height: 90%;
    float: left;
    height:100%;
    width: 50%;
    margin-left: 5%;

    display:grid;
    grid-template-columns: repeat(3,1fr)
    



}
 img{
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 10%;
    border-style:double;
   
/*difuminado de imagenes*/
}
#img{
    transition:filter 0.5 ease;
}



.blur{
   
    filter: blur(5px);
}


